.board {
    float: left;
    background-color:green;
    width: 70%;
}
.sheet {
    float: right;
    width: 30%;
}
table, th, td {
    border: 1px solid black;
    background-color: ivory;
    width: 90%;
}
